{lib_dirs,["deps"]}.
{deps_dir,"deps"}.
{deps, [
    {eid,     ".*",{git,"git://github.com/skatt/eid",       {tag,"master"}}},
    {gproc,   ".*",{git,"git://github.com/skatt/gproc",     {tag,"master"}}},
    {kvs,     ".*",{git,"git://github.com/synrc/kvs",       {tag,"6.4"}   }},
    {lager,   ".*",{git,"git://github.com/skatt/lager",     {tag,"master"}}},
    {emqttc,  ".*",{git,"git://github.com/skatt/emqttc",    {tag,"master"}}},
    {mochiweb,".*",{git,"git://github.com/skatt/mochiweb",  {tag,"master"}}},
    {esockd,  ".*",{git,"git://github.com/skatt/esockd",    {tag,"master"}}},
    {emqttd,  ".*",{git,"git://github.com/skatt/emqttd",    {tag,"master"}}},
    {n2o,     ".*",{git,"git://github.com/skatt/n2o",       {tag,"master"}}},
    {oauth2,  ".*",{git,"git://github.com/skatt/oauth2",    {tag,"master"}}},
    {yamerl,  ".*",{git,"git://github.com/skatt/yamerl",    {tag,"master"}}}
]}.
